<!DOCTYPE html>
<html>
<head>
    <title>Login - KhumaloCraft Emporium</title>
    <style>
        body {
            background-color: #1b2f48;
            color: #FFFDD0;
        }

        .craftwork-item {
            border-radius: 25px;
            background-color: #1b2f48;
            padding: 15px;
            border: 5px solid;
            color: #FFFDD0;
            max-width: 350px;
            margin: auto;
        }

            .craftwork-item input {
                display: block;
                width: 100%;
                margin-bottom: 10px;
                padding: 5px;
                border-radius: 5px;
                border: 1px solid #FFFDD0;
            }

            .craftwork-item button {
                width: 100%;
                padding: 10px;
                border-radius: 5px;
                border: solid;
                border-color: #FFFDD0;
                background-color: #333;
                color: #1b2f48;
                cursor: pointer;
            }

            .craftwork-item button[name="SignUpButton"] {
                    width: auto;
                    padding: 1px;
                    border: solid;
                    border-color: #1b2f48;
                    background-color: #1b2f48;
                    color: #fff;
                    cursor: pointer;
                    text-align: center;
            }
    </style>
</head>

<body>
    <br></br>
    <br></br>
    <div class="craftwork-item">
        <h1 align="center" style="color: #FFFDD0">Login</h1>
        <div style="height:20px;"></div>
        <form asp-controller="Login" asp-action="Login" method="post">
            <input type="text" name="Email" placeholder="Email" required>
            <div style="height:30px;"></div>
            <input type="password" name="Password" placeholder="Password" required>
            <div style="height:20px;"></div>
            <button align="center" style="color: #FFFDD0" type="submit">Login</button>
            <div style="height:30px;"></div>
        </form>
        <form asp-controller="User" asp-action="SignUp" method="get">
            <div align="center">
                <button style="color: #FFFDD0" type="submit" name="SignUpButton"><u>Sign Up</u></button>
            </div>
        </form>
    </div>
    <br></br>
</body>
</html>
