<!DOCTYPE html>
<html>
<head>
    <title>Sign Up - KhumaloCraft Emporium</title>
    <style>
        body {
            background-color: #1b2f48;
            color: #FFFDD0;
        }

        .craftwork-item {
            border-radius: 25px;
            background-color: #1b2f48;
            padding: 15px;
            border: 5px solid #FFFDD0;
            color: #FFFDD0;
            max-width: 350px;
            margin: auto;
        }

            .craftwork-item input {
                display: block;
                width: 100%;
                margin-bottom: 10px;
                padding: 5px;
                border-radius: 5px;
                border: 1px solid #FFFDD0;
            }

            .craftwork-item button {
                width: 100%;
                padding: 10px;
                border-radius: 5px;
                border: solid;
                border-color: #FFFDD0;
                background-color: #333;
                color: #1b2f48;
                transition: all 0.5s;
                -webkit-transition: all 0.5s;
            }

        button:hover {
            background-color: #35b0b5;
            box-shadow: 0 0 20px #6fc5ff50;
            transform: scale(1.0);
        }

        button:active {
            background-color: #3d94cf;
            transition: all 0.25s;
            -webkit-transition: all 0.25s;
            box-shadow: none;
            transform: scale(0.98);
        }

            .craftwork-item button[name="LoginButton"] {
                    width: auto;
                    padding: 1px;
                    border: solid;
                    border-color: #1b2f48;
                    background-color: #1b2f48;
                    color: #fff;
                    cursor: pointer;
                    text-align: center;
            }
    </style>
</head>

<body>
    <div style="height:55px"></div>
    <div class="craftwork-item">
        <h1 align="center" style="color: #FFFDD0">Sign Up</h1>
        <div style="height:20px;"></div>
        <form action="SignUp" method="post">
            <input type="text" name="FirstName" placeholder="Name" required>
            <div style="height:20px;"></div>
            <input type="text" name="LastName" placeholder="Surname" required>
            <div style="height:20px;"></div>
            <input type="email" name="Email" placeholder="Email" required>
            <div style="height:20px;"></div>
            <input type="password" name="Password" placeholder="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>
            <div style="height:20px;"></div>
            <button style="color: #FFFDD0" type="submit">Sign Up</button>
            <div style="height:20px;"></div>
        </form>
        <form asp-controller="User" asp-action="Login" method="get">
            <div align="center">
                <button style="color: #FFFDD0" type="submit" name="LoginButton"><u>Login</u></button>
            </div>
        </form>
    </div>
</body>
</html>
