<!DOCTYPE html>
<head>
    <title>MyWork - KhumaloCraft Emporium</title>
    <style>
        .image
        {
            border-radius: 25px;
            height: 320px;
            width: 400px;
            margin: 15px;
            border: 5px solid #FFFDD0;
        }

        .craftwork-item
        {
            border-radius: 25px;
            background-color: #1b2f48;
            height: 380px;
            width: auto;
            padding: 15px;
            border: 5px solid #FFFDD0;
            color: #FFFDD0;
        }

    </style>
</head>

<body>
    <div>
        <div style="height:80px;"></div>
        <h1 align="center" style="color: #FFFDD0">KhumaloCraft's Works</h1>
        <hr style="height:3px;color:#FFFDD0;border-width:0">
        <div style="height:10px;"></div>
        <p align="center" style="color: #FFFDD0">
            KhumaloCraft is a distinguished
            pottery business dedicated to the art of crafting 
            exquisite handmade ceramics. With a passion for 
            tradition and innovation, we meticulously handcraft 
            each piece, infusing it with timeless beauty and 
            functional elegance. From intricately designed vases 
            and dinnerware sets to unique decorative pieces, 
            every creation reflects our commitment to quality 
            craftsmanship and artistic expression. At KhumaloCraft, 
            we invite you to experience the artistry and 
            craftsmanship of our pottery, designed to elevate any 
            space with its distinct charm and character. 
            Below are just a few of our beautifully exquisite pieces:
        </p>
        <br></br>
        <br></br>
            
        <div class="craftwork-container">
            <div class="craftwork-item">
                <img class="image" align="left" src="/images/FloralHarmony.jpg" alt="Floral Harmony Ceramic Set" />
                <br></br>
                <h2 align = "middle"> Floral Harmony</h2>
                <p><b> Description:</b> This exquisite ceramic set seamlessly marries form and function. Its delicate cream-colored pieces are adorned with intricate hand-painted floral motifs, evoking a sense of timeless elegance. The ensemble comprises of six components. This ceramic set embodies sophistication, making it a delightful addition to any home or dining space.</p>
                <p><b> Price:</b> R2000 for whole set</p>
            </div>
            <br></br>
            <br></br>
            <br></br>
            <div class="craftwork-item">
                <img class="image" align="right" src="/images/Sheeps.jpg" alt="Black and White Sheeps Ceramic Set" style="width:400px;height:310px;" />
                <br></br>
                <h2 align="middle">Spiral Serenity</h2>
                <p><b>Description:</b> These two ceramic art pieces, shaped like graceful sheep, exude a sense of quiet elegance. Their contrasting colors play a harmonious duet: one sheep wears a beige hue, while its companion is almost black. Both sculptures feature intricate spiral patterns engraved on their bodies, adding depth and texture. These ceramic sheep sculptures are a delightful fusion of nature, artistry, and craftsmanship, a true testament to the timeless allure of clay transformed into captivating forms.  </p>
                <p><b>Price:</b> R500 per sculpture</p>
            </div>
            <br></br>
            <br></br>
            <br></br>
            <div class="craftwork-item">
                <img class="image" align="left" src="/images/bowl.jpg" alt="Ceramic Bowl" />
                <br></br>
                <h2 align="middle"> Persian Kaleidoscope</h2>
                <p><b> Description:</b> This intricately designed ceramic bowl is a true work of art. Its wide, shallow structure invites admiration, while its vibrant mix of colors and detailed patterns transports us to the realm of traditional Persian art. The interior of the bowl is adorned with complex geometric and floral designs, reminiscent of the rich cultural heritage that has inspired generations. This ceramic bowl is more than a vessel; it’s a bridge connecting past and present, artistry and functionality.</p>
                <p><b> Price:</b> R750</p>
            </div>
            <br></br>
            <br></br>
            <br></br>
            <div class="craftwork-item">
                <img class="image" align="right" src="/images/vase1.jpg" alt="Blue Flora and Fauna Ceramic Vase" style="width:300px;height:320px;" />
                <br></br>
                <h2 align="middle"> Nature’s Whispers</h2>
                <p><b> Description:</b> This ceramic art piece is a harmonious fusion of flora and fauna. Its surface is adorned with intricate designs that seem to breathe life into the clay. The delicate flora perhaps blossoms or leaves intermingle with graceful fauna, creating a captivating dance of nature. This ceramic masterpiece whispers tales of seasons, growth, and the delicate balance between life and art.</p>
                <p><b> Price:</b> R1000</p>
            </div>
            <br></br>
            <br></br>
            <br></br>
            <div class="craftwork-item">
                <img class="image" align="left" src="/images/Vase2.jpg" alt="brown and Cream coloured Flora and Fauna Clay Vase" style="width:340px" />
                <br></br>
                <h2 align="middle">Organic Reverie</h2>
                <p><b> Description:</b> This ceramic art piece takes the form of a rounded vase, a vessel that bridges the gap between nature and abstraction. Its surface is a canvas where the artist’s creativity blooms. This ceramic art piece is more than clay and glaze; it’s a vessel for wonder, a celebration of both the tangible and the intangible. </p>
                <p><b> Price:</b> R650</p>
            </div>
            <div>
                <br></br>
                <br></br>
                <br></br>
            </div>
        </div>
    </div>
</body>
</html>
